html, body {
  margin: 0;
  font-family: sans-serif;
  background: #E5E5E5;
  color: #FFFFFF;
  height: 100%;
}

.container {
  margin-top: 8%;
  background-color: #23252C;
  width: 80%;
  height: 100%;
  border-radius: 4%;
  /* main */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic-main {
  background-color: #23252C;
  width: 100%;
  height: 260px;
  border-radius: 4%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
} 

.pic {
  width: max-content;
  height: auto;
  padding: 8px;
  border-radius: 6px;
}

.buttons {
  display: flex;
  /* background-color: grey; */
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0px;

}
.email {
  background-color: rgb(222, 221, 221);
  width: 35%;
  height: 34px;
  margin-left: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.email-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #374151;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.ll {
  background-color: rgb(222, 221, 221);
  width: 35%;
  height: 34px;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #5093E2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.ll-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.name {
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.post {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #F3BF99;
}

.mylink {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.about {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-left: 7%;
  color: #F5F5F5;
}

.about-text {
  font-family: 'Inter';
  font-style: normal;
  margin-left: 7%;
  margin-top: -10px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 130%;
  color: #DCDCDC;
  width: 80%;
}

.footer-main {
  width: 100%;
  height: 35px;
  background-color: #161619;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  font-size: 8px;
  text-align: center;
}

.twit {
  /* background-color: #23252C; */
  width: 9%;
  height: 25px;
  margin-left: 24%;
}
.fb {
  /* background-color: #23252C; */
  width: 9%;
  height: 25px;
  margin-left: 6%;
}
.insta {
  /* background-color: #23252C; */
  width: 9%;
  height: 25px;
  margin-left: 6%;
}
.git {
  /* background-color: #23252C; */
  width: 9%;
  height: 25px;
  margin-left: 6%;
}

.twitpic {
  width: 20px;
}

.fbpic {
  width: 20px;
}

.instapic{
  width: 20px;
}

.gitpic {
  width: 20px;
}